@import 'bourbon';
// @import 'neat';
@import 'foundation';
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

$splash-background: black;
$splash-text: white;
$suggest-background: white;
$suggest-text: black;
$highlight: #7FD605;

//--------------Intro Splash----------------//
.intro-splash {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $splash-background;
	color: $splash-text;
}

.splash-container {
	@include size(50% 300px);
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translatex(-50%);
	text-align: center;
	h1 {
		font-family: 'Quattrocento Sans', sans-serif;
		text-transform: uppercase;
		color: $splash-text;
		font-size: 5rem;
		margin-bottom: 150px;
	}
	button {
		@include button(
			$bg: $highlight
		);
		width: 75%;
		font-size: 1.5rem;
	}
	.geosuggest {
		margin-left: 12.5%;
		width: 75%;
	}
	.geosuggest__input {
		text-align: center;
		margin-bottom: 0;
		font-size: 1rem;
		&:focus {
			border-color: $highlight;
			border: 3px;
		}
	}
	.geosuggest__suggests {
		list-style: none;
		background: $suggest-background;
		color: $suggest-text;
		width: 100%;
		margin: 0;
		cursor: pointer;
		.geosuggest-item {
			&:hover {
				font-weight: bold;
			}
		}
	}
}


//---------------Add Trivia Modal--------------//
.add-trivia-modal-appear {
  opacity: .1;
}

.add-trivia-modal-appear.add-trivia-modal-appear-active {
  transition: .3s opacity ease-in;
  opacity: 1;
}

.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
}

.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
}

