@import 'bourbon';
@import 'neat';
// @import 'foundation';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/react-widgets/dist/css/react-widgets.css';
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

$dark-grey: #333;
$very-light-grey: #eee;

$splash-background: #222;
$splash-text: white;
$suggest-background: white;
$suggest-text: black;
$light-highlight: #BAF41C;
$highlight: #7FD605;
$dark-highlight: #6D930B;
$highlight2: #398CB7;

body {
	background: $very-light-grey;
}

//--------------Intro Splash----------------//
.intro-splash {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $splash-background;
	color: $splash-text;
}

.splash-container {
	@include size(50% 300px);
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translatex(-50%);
	text-align: center;
	font-size: 2rem;
	h1 {
		font-family: 'Quattrocento Sans', sans-serif;
		text-transform: uppercase;
		color: $splash-text;
		font-size: 6rem;
		margin-bottom: 150px;
	}
	.geosuggest {
		width: 100%;
	}
	.geosuggest__input {
		width: 50%;
		color: black;
		text-align: center;
		margin-bottom: 0;
		font-size: 2rem;
		&:focus {
			border-color: $highlight;
			border: 3px;
		}
	}
	.geosuggest__suggests {
		list-style: none;
		background: $suggest-background;
		color: $suggest-text;
		width: 100%;
		margin: 0;
		cursor: pointer;
		.geosuggest-item {
			&:hover {
				font-weight: bold;
			}
		}
	}
}

.get-hometown {
	background: $highlight;
	font-size: 2rem;
}

.user-hometown {
	background: $highlight2;
	font-size: 2rem;	
}

//--------------App Header----------------//
.nav-search{
	position: relative;
	color: black;
}

.nav-search-results {
	list-style: none;
	position: absolute;
	background: white;
	padding: 5px 10px;
}


//---------------Add Trivia Modal--------------//
.add-trivia-modal-appear {
  opacity: .1;
}

.add-trivia-modal-appear.add-trivia-modal-appear-active {
  transition: .3s opacity ease-in;
  opacity: 1;
}

.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
}

.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
}

//-------------Town Page--------------//
.town-container {
	@include outer-container();
}

.town-header {
	@include fill-parent();
	position: relative;
	height: 200px;
	border: 1px solid black;
	margin-bottom: 50px;
	.town-header-name {
		padding: 30px;
		position: absolute;
		bottom: 0px;
		left: 50px;
		transform: translatey(50%);
		background: $dark-grey;
		color: $splash-text;
	}
}

.side-nav {
	@include span-columns(3);
	float: left;
	a {
		color: $highlight2;
	}
}

//----------------Trivia-----------------//
.trivia-container {
	@include span-columns(9);
}

.trivia-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
}

.trivia-quote {
	@include span-columns(6 of 9);
	position: relative;
	list-style: none;
	background: $dark-grey;
	color: $splash-text;
	margin: 10px 0;
	padding: 25px 10px 10px;
	.trivia-quote-text {
		font-size: 1.8rem;
	}
	&:hover .trivia-quote-remove,
	&:hover .trivia-quote-edit {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.trivia-quote-remove,
.trivia-quote-edit {
	position: absolute;
	top: 10px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.trivia-quote-remove {
	right: 10px;
}

.trivia-quote-edit {
	right: 40px;
}

.trivia-quote-sub-header {
	@include clearfix();
	> * {
		display: inline-block;
	}
	.trivia-quote-date {
		float: right;
	}
	.trivia-quote-sub-header-comments {
		float: left;
		cursor: pointer;
		.comment-length {
			margin: 0 5px;
		}
	}
}

.trivia-quote-comments {
	list-style: none;
}

.trivia-quote-comments-first {
	cursor: pointer;
	color: $highlight;
}

.trivia-quote-comment {
	position: relative;
	&:hover .trivia-quote-comment-remove {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.trivia-quote-comment-reply {
	color: $highlight;
	cursor: pointer;
}

.trivia-quote-comment-remove {
	position: absolute;
	right: 20px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
//---------------Comment Form--------------//
.comment-form-input {
	color: black;
	width: 90%;
}

//----------------Add Trivia-----------------//
.add-trivia {
	@include span-columns(6 of 9);
	position: relative;
	margin-left: 40px;
}

.add-trivia-input {
	width: 94%;
	color: black;
	margin-bottom: 5px;
}

.add-trivia-add {
	position: absolute;
	top: 0;
	color: $dark-grey;
	background: $very-light-grey;
	font-size: 2.6rem;
	cursor: pointer;
}
//----------------Pictures----------------//
.pictures-container {
	@include span-columns(9);
}
.picture-container {
	@include span-columns(3 of 9);
	padding: 10px;
	margin: 0 0 10px 0;
	background: white;
	cursor: pointer;
	img {
		width: 95%;
		margin-left: 2.5%;
	}
	&:hover .picture-container-stats {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.picture-container-stats {
	padding: 2.5% 5%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	.like-icon {
		float: left;
		.likes {
			position: relative;
			top: -2px;
			margin-left: 5px;
		}
	}
	.comment-icon {
		float: right;
		.comments {
			position: relative;
			top: -2px;
			margin-left: 5px;
		}
	}
}

.pictures-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
	cursor: pointer;
}

.modal-image,
.modal-input {
	margin-left: 2.5%;
	width: 95%;
}

.modal-input {
	font-size: 1.8rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-submit {
	display: block;
	margin: 0 auto;
}

//------------------Carousel Modal----------------//
.carousel-modal {
	margin-top: 10%;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
	&:hover .glyphicon-chevron-right,
	&:hover .glyphicon-chevron-left, {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.carousel-modal-caption {
	font-size: 2rem;
	padding: 2.5% 15% 0 ;
}

.carousel-modal-stats {
	padding: 2.5% 15%;
	font-size: 2.4rem;
	.like-icon {
		float: left;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
		.likes {
			position: relative;
			top: -3px;
			margin-left: 5px;
		}
	}
	.comment-icon {
		float: right;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
		.comments {
			position: relative;
			top: -3px;
			margin-left: 5px;
		}
	}
}

.panel {
	border: none;	
}

.add-picture-input {
	width: 100%;
}

//-------------------Events------------------//
.events-container {
	@include span-columns(9);
}

.date-picker {
	width: 50%;
	margin: 0 auto;
}

.events-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
	cursor: pointer;
}

//-------------Create Event Form-------------//
.create-event-form {
	&:last-child {
		margin-bottom: 0;
	}
	> * {
		display: block;
		margin-bottom: 10px;
	}
}

.event-input-title,
.event-input-description,
.event-input-url {
	width: 100%;
	font-size: 2rem;	
}

.event-input-description {
	font-size: 1.6rem;
	border-color: #ccc;
	resize: none;
}

.event-input-submit {
	width: 90%;
	margin-left: 5%;
	color: white;
	background: $highlight;
	font-size: 2.2rem;
	&:hover {
		background: $dark-highlight;
		color: white;
	}
}

//------------------No Town------------------//
.no-town-container{
	@include outer-container();
	text-align: center;	
}
//------------------Footer------------------//
.footer {
	height: 150px;
}