@import 'bourbon';
@import 'neat';
// @import 'foundation';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/react-widgets/dist/css/react-widgets.css';
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);

$dark-grey: #333;
$less-dark-grey: #444;
$grey: #aaa;
$very-light-grey: #eee;

$splash-background: #222;
$splash-text: white;
$suggest-background: white;
$suggest-text: black;
$light-highlight: #BAF41C;
$highlight: #7FD605;
$dark-highlight: #6D930B;
$highlight2: #398CB7;
$light-highlight2: #69BBF0;

body {
	background: $very-light-grey;
}

//--------------Intro Splash----------------//
.intro-splash {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: $splash-background;
	color: $splash-text;
}

.splash-background {
	position: absolute;
	&.left {
		left: 75%;
	}
	&.right {
		right: 75%;
	}
}

.splash-container {
	@include size(50% 300px);
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translatex(-50%);
	text-align: center;
	font-size: 2rem;
	h1 {
		position: relative;
		font-family: 'Quattrocento Sans', sans-serif;
		color: $splash-text;
		font-size: 6rem;
		margin-bottom: 150px;
	}
	.geosuggest {
		width: 100%;
	}
	.geosuggest__input {
		width: 50%;
		color: black;
		text-align: center;
		margin-bottom: 0;
		font-size: 2rem;
		&:focus {
			border-color: $highlight;
			border: 3px;
		}
	}
	.geosuggest__suggests {
		list-style: none;
		background: $suggest-background;
		color: $suggest-text;
		width: 100%;
		margin: 0;
		cursor: pointer;
		.geosuggest-item {
			&:hover {
				font-weight: bold;
			}
		}
	}
}

.get-hometown {
	background: $highlight;
	font-size: 2rem;
}

.user-hometown {
	background: $highlight2;
	font-size: 2rem;	
}

.splash-town-enter {
	transform: translatey(100px);
	opacity: 0;
}

.splash-town-enter.splash-town-enter-active {
	transform: translatey(0);
	opacity: 1;
	transition: all 1s ease-out 1s;
}

.splash-title-appear {
	opacity: 0;
}

.splash-title-appear.splash-title-appear-active {
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.splash-background-appear {
	width: 0;
}

.splash-background-appear.splash-background-active {
	width: 1000px;
	transition: all 1s ease-in 1s;
}
//--------------App Header----------------//
.left-nav-links {
	width: 45%;
}

#search-bar {
	min-width: 300px;
}

.nav-search{
	position: relative;
	color: black;
	width: 100%;
}

.nav-search-results {
	list-style: none;
	position: absolute;
	background: white;
	padding: 5px 10px;
	&.hidden {
		height: 0;
		overflow: hidden;
	}
}


//---------------Add Trivia Modal--------------//
.add-trivia-modal-appear {
  opacity: .1;
}

.add-trivia-modal-appear.add-trivia-modal-appear-active {
  transition: .3s opacity ease-in;
  opacity: 1;
}

.modal-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
}

.modal-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
}

//-------------Town Page--------------//
.town-container {
	@include outer-container();
}

.town-header {
	@include fill-parent();
	position: relative;
	height: 200px;
	border: 1px solid black;
	margin-bottom: 50px;
	background-size: cover;
	background-position: center;
	.town-header-name {
		padding: 30px;
		position: absolute;
		bottom: 0px;
		left: 50px;
		transform: translatey(50%);
		background: $dark-grey;
		color: $splash-text;
	}
	&:hover .town-header-add {
		opacity: 0.5;
		transition: opacity 0.3s ease-in-out;
	}
}

.town-header-add {
	z-index: 5;	
	position: absolute;
	top: 80%;
	right: 20px;
	font-size: 2.2rem;
	color: white;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	cursor: pointer;
	background: black;
	padding: 4px;
	border-radius: 3px;
	&:hover {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}
}

.town-header-hometown {
	position: absolute;
	right: 20px;
	bottom: -25px;
	background: white;
	color: $highlight2;
	padding: 3px;
	border-radius: 3px;
	&.not-hometown {
		cursor: pointer;
		background: $highlight2;
		color: white;
		&:hover {
			background: $light-highlight2;
		}
	}
}

.side-nav {
	@include span-columns(3);
	margin-top: 50px;
	float: left;
	a {
		margin-left: 10px;
		color: $highlight2;
		font-size: 2rem;
		text-align: right;
		&:hover {
			background-color: $highlight2;
			color: $light-highlight2;
		}
	}
}
//----------------Town Landing----------------//
.landing-container {
	@include span-columns(9);
	background: white;
	padding: 30px;
}

.landing-title {
	text-align: center;
	margin-bottom: 50px;
}

.landing-carousel {
	@include span-columns(7 of 9);
	@include shift(1);	
}

.landing-carousel-image {
	width: 100%;
}
//----------------Trivia-----------------//
.trivia-container {
	@include span-columns(9);
}

.trivia-container-modal	 {
	margin-top: 15%;
}

.trivia-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
	cursor: pointer;
}

.trivia-quote {
	@include span-columns(6 of 9);
	position: relative;
	list-style: none;
	background: $less-dark-grey;
	color: $splash-text;
	margin: 10px 0;
	padding: 25px 10px 10px;
	.trivia-quote-text {
		font-size: 1.8rem;
	}
	&:hover .trivia-quote-remove,
	&:hover .trivia-quote-edit {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.trivia-quote-remove,
.trivia-quote-edit {
	position: absolute;
	top: 10px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.trivia-quote-remove {
	right: 10px;
}

.trivia-quote-edit {
	right: 40px;
}

.trivia-quote-sub-header {
	@include clearfix();
	> * {
		display: inline-block;
	}
	.trivia-quote-date {
		float: right;
	}
	.trivia-quote-sub-header-comments {
		float: left;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		.comment-length {
			margin: 0 5px;
		}
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
	}
	.trivia-quote-sub-header-likes {
		float: left;
		cursor: pointer;
		margin-left: 20px;
		transition: color 0.3s ease-in-out;
		&.liked {
			color: $highlight;
		}
		.likes {
			margin: 0 5px;
		}
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
	}
}

.trivia-quote-comments {
	list-style: none;
	background: $dark-grey;
	padding: 10px 0 10px 20px;
}

.trivia-quote-comments-first {
	cursor: pointer;
	color: $highlight;
}

.trivia-quote-comment {
	position: relative;
	margin-top: 10px;
	&:hover .trivia-quote-comment-remove {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
	&:hover .trivia-quote-comment-reply {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.trivia-quote-comment-reply {
	display: inline-block;
	color: $highlight;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.trivia-quote-comment-remove {
	position: absolute;
	right: 20px;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.trivia-quote-comment-by,
.trivia-quote-comment-time {
	display: inline-block;
	float: right;
	margin: 0 3px;
	color: $grey;
	font-size: 1.2rem;
}

.trivia-add-modal {
	@include clearfix();
	padding: 50px;
	background: $very-light-grey;
	.add-trivia {
		width: 100%;
		margin: 0;
		> * {
			display: block;
			margin: 0 auto;
		}
		h1 {
			text-align: center;
			margin-bottom: 20px;
		}
		.add-trivia-input {
			resize: none;
		}
		.add-trivia-button {
			margin-top: 30px;
		}
	}
}
//---------------Comment Form--------------//
.comment-form-input {
	color: black;
	width: 90%;
}

//----------------Add Trivia-----------------//
.add-trivia {
	@include span-columns(6 of 9);
	position: relative;
}

.add-trivia-input {
	width: 94%;
	color: black;
	margin-top: 20px;
	margin-bottom: 5px;
}

.add-trivia-add {
	position: absolute;
	top: 0;
	color: $dark-grey;
	background: $very-light-grey;
	font-size: 2.6rem;
	cursor: pointer;
}
//----------------Pictures----------------//
.pictures-container {
	@include span-columns(9);
}
.picture-container {
	@include span-columns(3 of 9);
	padding: 10px;
	margin: 0 0 10px 0;
	background: white;
	cursor: pointer;
	img {
		width: 95%;
		margin-left: 2.5%;
	}
	&:hover .picture-container-stats {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.picture-container-stats {
	padding: 2.5% 5%;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	.like-icon {
		float: left;
		.likes {
			position: relative;
			top: -2px;
			margin-left: 5px;
		}
	}
	.comment-icon {
		float: right;
		.comments {
			position: relative;
			top: -2px;
			margin-left: 5px;
		}
	}
}

.pictures-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
	cursor: pointer;
}

.modal-image,
.modal-input {
	margin-left: 2.5%;
	width: 95%;
}

.modal-input {
	font-size: 1.8rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

.modal-submit {
	display: block;
	margin: 0 auto;
}

//------------------Carousel Modal----------------//
.carousel-modal {
	margin-top: 10%;
}

.carousel-modal-image {
	position: relative;
	&:hover .carousel-modal-delete {
		opacity: 0.5;
		transition: opacity 0.3s ease-in-out;
	}
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
	top: 30%;
	bottom: 30%;
	&:hover .glyphicon-chevron-right,
	&:hover .glyphicon-chevron-left, {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.glyphicon-chevron-right,
.glyphicon-chevron-left {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.carousel-modal-caption {
	font-size: 2rem;
	padding: 2.5% 15% 0 ;
}

.carousel-modal-stats {
	padding: 2.5% 15%;
	font-size: 2.4rem;
	.like-icon {
		float: left;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&.liked {
			color: $highlight;
		}
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
		.likes {
			position: relative;
			top: -3px;
			margin-left: 5px;
		}
	}
	.comment-icon {
		float: right;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $highlight;
			transition: color 0.3s ease-in-out;
		}
		.comments {
			position: relative;
			top: -3px;
			margin-left: 5px;
		}
	}
}

.carousel-modal-delete {
	cursor: pointer;
	z-index: 1000;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 3rem;
	color: white;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	padding: 10px;
	border-radius: 5px;
	&:hover {
		opacity: 1;
		background: red;
		transition: all 0.3s ease-in-out;
	}
}

.modal-container .modal,
.modal-container .modal-backdrop {
	position: absolute;
}

.panel {
	border: none;	
}

.add-picture-input {
	width: 100%;
}

.warning-modal {
	margin-top: 20%;
	h1 {
		text-align: center;
		font-size: 2rem;
	}
}

.warning-modal-buttons {
	text-align: center;
}

.carousel-modal-comment {
	text-align: left;
}

.carousel-modal-comment-user-time {
	text-align: right;
	> * {
		display: inline-block;
		margin: 0 3px;
		color: $grey
	}
}

.carousel-modal-click {
	float: left;
	margin-top: 10px;
	display: inline-block;
	text-align: left;
	color: $highlight2;
	cursor: pointer;
}

//-------------------Events------------------//
.events-container {
	@include span-columns(9);
}

.date-picker {
	width: 50%;
}

.events-add {
	position: fixed;
	top: 85%;
	right: 25%;
	font-size: 6rem;
	color: $highlight;
	cursor: pointer;
}

//--------------Event Container------------//
.event-container {
	@include clearfix();
	background: white;
	margin: 10px 0;
	padding: 5px;
	&:hover {
		box-shadow: 0 0 1rem $highlight2;
	}
}

.event-container-title {
	float: left;
	margin: 10px 0;
	font-size: 2rem;
}

.event-container-date {
	float: right;
	vertical-align: middle;
}

//-------------Event Page--------------//
.event-page {
	@include span-columns(9);
	background: white;
	padding: 0 20px;
}

.event-page-title{
	&:hover .event-page-edit {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.event-page-date {
	margin-left: 15px;
	color: $grey;
	&:hover .event-page-edit {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}

.event-page-body {
	@include span-columns(9 of 9);
	@include clearfix();
}

.event-page-description {
	@include span-columns(7 of 9);
}

.event-page-paragraph-edit {
	@include span-columns(9 of 9);
	display: block;
	color: $highlight2;
	cursor: pointer;
	&:hover {
		color: $light-highlight2;
	}
}

.event-page-url {
	@include span-columns(9 of 9);
	display: block;
	&:hover .event-page-edit {
		opacity: 1;
		transition: opacity 0.3s ease-in-out;
	}
}


.event-page-edit {
	margin-left: 20px;
	color: $highlight2;
	opacity: 0;
	cursor: pointer;
	&:hover {
		color: $light-highlight2;
		transition: opacity 0.3s ease-in-out;
	}
	&.title {
		font-size: 2rem;
	}
}

.event-page-edit-input {
	width: 100%;
	&.edit-description {
		resize: vertical;
	}
}

.event-page-footer {
	@include clearfix();
	.event-page-footer-likes,
	.event-page-footer-comments {
		float: right;
		margin: 50px 20px 0;
		font-size: 1.5rem;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		&.liked {
			color: $highlight2;
		}
		&:hover {
			color: $highlight2;
			transition: all 0.3s ease-in-out;
		}
		.likes, .comment-length {
			position: relative;
			top: -2px;
			margin-left: 10px;
		}
	}
}

.event-page-back {
	float: left;
	margin-top: 50px;
	color: $highlight2;
	cursor: pointer;
}

.event-page-backarrow {
	margin-right: 5px;
}

.event-page-comments {
	list-style: none;
}

.event-page-comment {
	margin: 10px 0;
}

.event-page-comment-user-time {
	text-align: right;
	> * {
		display: inline-block;
		margin: 0 3px;
		color: $grey
	}
}

.event-comment-form {
	width: 100%;
	.event-comment-input {
		margin-top: 30px;
		width: 100%;
	}
}

//-------------Create Event Form-------------//
.create-event-form {
	&:last-child {
		margin-bottom: 0;
	}
	> * {
		display: block;
		margin-bottom: 10px;
	}
}

.event-input-title,
.event-input-description,
.event-input-url {
	width: 100%;
	font-size: 2rem;	
}

.event-input-description {
	font-size: 1.6rem;
	border-color: #ccc;
	resize: none;
}

.event-input-submit {
	width: 90%;
	margin-left: 5%;
	color: white;
	background: $highlight;
	font-size: 2.2rem;
	&:hover {
		background: $dark-highlight;
		color: white;
	}
}



//------------------No Town------------------//
.no-town-container{
	@include outer-container();
	text-align: center;	
}

//-----------------Create Town---------------//
.create-town-container {
	@include outer-container();
	text-align: center;
	.geosuggest {
		margin-top: 100px;
		width: 100%;
		.geosuggest__input {
			width: 50%;
			font-size: 2rem;
		}
		.geosuggest__suggests {
			margin: 0 auto;
			width: 50%;
			list-style: none;
			text-align: left;
			padding: 0;
			background: white;
			.geosuggest-item {
				padding-left: 40px;
				cursor: default;
				&:hover {
					color: white;
					background: $highlight2;
				}
			}
		}
	}
}

.create-town-picked {
	margin-top: 100px;
}

.create-town-repick {
	color: $highlight2;
	cursor: pointer;
}

.create-town-button {
	margin: 20px 0;
	background: $highlight;
	color: white;
	&:hover {
		background: $light-highlight;
		color: white;
		border: 1px solid $very-light-grey;
	}
}

//-----------------Login-------------------//
.login-modal {
	margin-top: 25%;
	.modal-content {
		background: $dark-grey;
	}
}

.login-container {
	text-align: center;

	.login-title {
		color: white;
	}

	> * {
		text-align: center;
	}
}

.login-container-inputs {
	margin-top: 20px;
	font-size: 2rem;
	> * {
		text-align: center;
	}
}
.login-button {
	display: block;
	margin: 20px auto;
	background: $highlight;
	color: white;
	border: 1px solid $dark-grey;
	&:hover {
		background: $light-highlight;
		color: white;
		border: 1px solid $dark-grey;
	}
}

.login-signup {
	color: white;
	font-size: 1.4rem;
	.link {
		color: $highlight2;
		cursor: pointer;
	}
}

.fade.in.popover.bottom {
	background: $dark-grey;
	.arrow::after {
		border-bottom-color: $dark-grey;
	}
}

.login-error {
	color: red;
	font-size: 1.4rem;
}

//----------------Signup--------------------//
.signup-container {
	@include outer-container();
	margin-top: 100px;
	h1 {
		text-align: center;
		margin-bottom: 20px;
	}
}

.signup-inputs {
	@include span-columns(7);
	@include shift(2.5);
	input {
		@include span-columns(3.5 of 7);
		font-size: 2rem;
		text-align: center;
		&:nth-child(2n) {
			@include omega();
		}
	}
}
.button-container {
	@include span-columns(12);
}

.signup-button {
	display: block;
	margin: 20px auto;
	background: $highlight;
	border: 1px solid $very-light-grey;
	&:hover {
		background: $light-highlight;
		border: 1px solid $very-light-grey;
	}
}

.signup-error {
	color: red;
	text-align: center;
	margin-top: 10px;
}
//------------------Footer------------------//
.footer {
	height: 150px;
}